<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Websocket: chart</title>
	<link rel="stylesheet" href="../lib/jquery.jqplot.min.css">
</head>
<body>
	<div id="chart"></div>
	
	<script src="../lib/jquery-1.11.0.min.js"></script>
	<script src="../lib/jquery.jqplot.min.js"></script>
	<script>

		$(document).ready(function(){
			
			// random chart data
			// ===========================================
			var chartData = [];			
			
			for (var i = 0; i < 10; i++) {		
				var x = chartData.length;
				var y = Math.floor(Math.random() * (9 - 0 + 1)) + 0;
				chartData.push([x,y]);
			}
		

			// websocket
			// ===========================================
			var ws = new WebSocket('ws://nodejs-html5testserver.rhcloud.com:8000');

			ws.addEventListener('open', function() {
				var message = {
					fn: "chartRandom",
					x: chartData.slice(-1).pop()[0]
				};		
				message = JSON.stringify(message);	
				ws.send(message);
			});
			
			ws.addEventListener('message', function(e) {
				var newChartData = chartData.slice(1);
				newChartData.push(JSON.parse(e.data));
				chartData = newChartData;
				plot();
			});


			// chart plotter
			// ===========================================
			function plot() {
				$.jqplot("chart", [chartData], {
					seriesDefaults : {
						pointLabels: { show:true }
					}
				})
				.replot();
			}
			plot();

		});

	</script>

</body>
</html>