<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Websocket: echo</title>
</head>
<body>
  
  <script>  
  
	var ws = new WebSocket('ws://localhost:8088');

	// on open
	ws.addEventListener('open', function(e) {	
		// Event: non molto interessante
		console.log("Connessione aperta.");
		console.debug(e);	
		
		var message = {
			fn: "echo",
			text: "Connessione col socket aperta."
		};		
		message = JSON.stringify(message);	
		ws.send(message);	
	});
	
	// on message
	ws.addEventListener('message', function(e) {	
		// MessageEvent: e.data, e.origin (https://developer.mozilla.org/en-US/docs/Web/API/MessageEvent)
		console.log("Origine: " + e.origin + " - Dati: " + e.data);
		console.debug(e);	
		
		// chiusura del socket scatenata dal client
		ws.close();
	});	
	
	// on close
	ws.addEventListener('close', function(e) {	
		// CloseEvent: e.code, e.reason, e.wasClean (https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent)
		console.log("Connessione chiusa - Code: " + e.code + " - Reason: " + e.reason + " - Was clean: " + e.wasClean);
		console.debug(e);	
	});	
	
	// on error
	ws.addEventListener('error', function(e) {	
		console.log("Errore");
		console.debug(e);
	});	
  
  </script>
  
</body>
</html>
