/* general styles */
body { color: #666; }
header {font-size: 24px;}
#wrapper { background: #e5e5e5; overflow: auto; margin: 0 auto; padding: 10px; }
section,
aside,
#wrapper header,
#wrapper footer { background: #3BB23B; color: #fff; }
.clearfix { clear: both; }
.emphasys { width: 80%; border: 1px solid #00f; margin: 0 auto; text-align: center; padding: 20px; }


/*------------------------------------------------------------------------
FLEXIBLE GRID
------------------------------------------------------------------------*/
body {
	/* anche il font puo' essere reso "fluido" */
	/* 100%: dimensione font di default del browser */
	font-size: 100%; 		/* 16px	 						*/
}
#wrapper {
	/* anche il contenitore si ridimensiona, fino ad un massimo di 960px */
	/* oppure rimuovere questa definizione per un layout largo tutta la pagina */
	max-width: 960px;

}
#wrapper header, 
#wrapper footer {
	margin: 1.041666%;
	width: 98%;	
	
	/* font-size definito in em, in dipendenza del valore di default*/
	font-size: 1.5em; 		/* 	24/16 = 1.5					*/
	/* equivalente a */
	/* font-size: 150%; */
	/* font-size: 24px; */
}
section#left {
	height: 400px;
	float: left;
	margin: 1.041666%;   	/*  10px/960px = 0.01041666		*/
  	width: 64.583333%;   	/* 	620px/960px = 0.64583333	*/
}
aside#right {
	height: 400px;
	float: right;
	margin: 1.041666%;   	/*  10px/960px = 0.01041666 	*/
  	width: 31.25%;   		/* 	300px/960px = 0.3125 		*/
}